body{
    background-color: white;
    font-size: 14px;
    font-family: Palatino;
}
/*p{*/
/*    margin-top:0px;*/
/*    margin-bottom:5px;*/
/*}*/
h1{
    color: #038ED7;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    margin-top:0px;
    margin-bottom:0px;
}
h2{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    margin-top:0px;
}
#titulo {
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top:15px;
    margin-bottom:5px;
}
#subtitulo {
    color: black;
    text-align: center;
    
}
#nota {
    color: red;
    text-align: justify;
    font-size: 80%;
}
#padre {
    color: black;
    text-align: justify;
}
#respuesta {
    color: black;
    text-align: right;
    font-weight: bold;
}
#todos {
    color: black;
    text-align: justify;
    font-weight: bold;
}